@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  *:focus-visible {
    /* @apply shadow-buttons-neutral-focus outline-none; */
  }
  .text-balance {
    text-wrap: balance;
  }

  .nav-list-item:hover {
    @apply bg-ui-bg-field-hover transition-all;
  }

  .nav-list-item-active {
    @apply bg-ui-bg-switch-off text-ui-fg-base;
  }
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #7b7b7b68;
}

.def-modal {
  border-radius: 6px;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 90vw;
  max-width: 450px;
  height: fit-content;
  /* max-height: 85vh; */
}

.loaderRef {
  width: 1px;
  height: 1px;
  position: absolute;
}
